.signup-container{
    margin-left: 15rem;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(135deg,#71b7e6,#9b59b6);
    padding: 10px;
}
.signup-elements{
    width: 100%;
    max-width: 350px;
    font-family: sans-serif;
    background-color: #fff;
    padding: 29px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    border-radius: 5px;
}
.signup-elements .user_type_select{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.signup-elements .user_type_select label{
    margin-left: 8px;
}
.signup-elements h1{
    margin-bottom: 15px;
    font-size: 1.7rem;
    color: rgb(35, 38, 41);
}
.signup-elements span{
    font-weight: 600;
    font-size: 12.5px;
    color: hsla(210, 8%, 5%, 1);
    margin-bottom: 10px;
}
.signup-elements .signup-item input{
    width: 100%;
    border: 1px solid rgb(186, 191, 196);
    height: 30px;
    padding: 7.8px 9.1px;
}
.signup-elements .signup-item input:focus{
    outline: none;
    border: 2px solid rgb(147, 211, 233);
}
.signup-elements button{
    cursor: pointer;
    margin-top: 25px;
    border: none;
    background-color: #009DDC;
    color: #fff;
    width: 100%;
    padding: 7px 0;
}


.signup-item{
    width: 100%;
    margin-bottom: 10px;
}

@media only screen and (max-width: 850px) {
    .signup-container{
        margin-left: 0;
    }

}