@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Poppins&family=Roboto:wght@300&display=swap');

.user_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.user_container .user_icon{
    background-size: contain;
    width: 33%;
}
.user_container .user_icon img{
    outline: 3px solid grey;
    border-radius: 50%;
    padding: 3px;
    font-size: 3rem;
    object-fit: cover;
  width: 80px;
  height: 80px;
 
}