.ans-item ul,ol{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.ans-item .table table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    border: 1px double #b3b3b3;
}
.ans-item .table table td,.ans-item .table table th{
    min-width: 2em;
    padding: 0.4em;
    border: 1px solid #bfbfbf;
}
.ans-item .table table th{
    font-weight: 700;
    background: hsla(0,0%,0%,5%);
}
.ans-item .table{
    margin: .9em auto;
    display: table;
}



.ans-item .image img{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-height: 500px;
}
.ans-item .image{
    margin: 30px;
}
.ans-item blockquote{
    padding: 1em;
    color: #353535;
    background: hsla(0,0%,78%,.3);
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    text-align: left;
    direction: ltr;
    tab-size: 4;
    white-space: pre-wrap;
    font-style: normal;
    min-width: 200px
}
.editor-container .ck .ck .ck-content .image img {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    min-width: 50%;
}

.answer_main_container .answer_question_details{
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    
}
.answer_main_container .answers_bar{
    background-color: rgba(208, 202, 202, 0.6);
    padding: 20px;
    /* border-radius: 5px; */
}
.answers_bar .bar_details span{
    font-size: 0.9rem;
    text-align: center;
    margin-left: 10px;
}
.answer_main_container .answers_bar .bar_details{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    outline-color: rgb(40, 40, 41);
    border-radius: 5px;
    padding: 7px;
    max-width: 130px;
    text-align: center;
    color: rgb(40, 40, 41);
}
.answer_question_details .qstn_title{
    font-size: 19px;
    color: rgb(39, 41, 48);
    margin-bottom: 15px;
}
.answer_question_details .author_details img{
    width: 43px;
    height: 43px;
    border-radius: 50%;
    border: 2px solid rgb(45, 111, 247);
    padding: 2px;
    margin-top: 8px;
    margin-right: 10px;
}
.answer_question_details .author_details{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.answer_question_details .author_details .author_badge{
    padding: 2px 5px;
    font-size: 12px;
    text-align: center;

}
.answer_main_container{
    margin-left: 15rem;
    padding: 5px;
}
.answer_question_details .qstn_description{
    color: rgb(39, 41, 48);
    font-size: 15px;
    /* font-family: roboto, Arial, sans-serif; */
}

.answer-container .addAnswer h2{
    margin-bottom: 10px;
    color: rgb(39, 41, 48);
    font-size: 1.3rem;
}
.editor-container .ck .ck .ck-content ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.editor-container .ck .ck .ck-content blockquote{
    padding: 1em;
    color: #353535;
    background: hsla(0,0%,78%,.3);
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    text-align: left;
    direction: ltr;
    tab-size: 4;
    white-space: pre-wrap;
    font-style: normal;
    min-width: 200px
;
}
.addAnswer{
    background-color: #fff;
    padding: 10px;
}
.btn_submit_ans{
    margin-top: 20px;
    background-color: rgb(10, 149, 255);
    color: white;
    padding: 4px 18px;
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}
.answer-container .no-items-text{
    text-align: center;
    margin-top: 20px;
}

@media only screen and (max-width: 850px) {
    .answer_main_container{
        margin-left: 0;
    }

}
@media only screen and (max-width: 450px) {
    .ans-item{
        font-size: 0.94rem;
    }

}