body{
    height: 100vh;
}

.notify_container{
    margin-left: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    padding: 1em;
}
.notify_container .no_notify{
    text-align: center;
    margin-top: 20px;
    color: rgb(40, 40, 41);
}

.notify_item .notify_details .new_notify{
    background-color: red;
    color: #fff;
    padding: 3px 5px;
    border-radius: 6px;
    font-size: 12px;
    margin-left: 10px;
}
.notify_item .notify_details .notify_qstn_title{
    font-weight: bold;
    font-size: 14.8px;
    color: rgb(40,40,41);
}
.notify_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
    margin: 3px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: #fff;
}
.notify_item a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.notify_item a:hover{
    text-decoration: underline;
}
.notify_item .notify_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.notify_item .notify_img img{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 2px solid #407cf7;
    padding: 2px;
}

@media only screen and (max-width: 850px) {
    .notify_container{
        margin-left: 0;
    }

}


