.user{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user .user_icon {
    background-color: rgb(204, 204, 204);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    font-size: 1.5rem;

}

.user .user_icon i{
    padding: 13.3px;
}
.user .username{
    margin-left: 10px;
    font-weight: bold;
}
.user .username a{
    margin-left: 10px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.user .username a:hover{
    
    text-decoration: underline;
}
.qstn_title{
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.qstn_title:hover{
    text-decoration: underline;   
}
