/* The sidebar */

.sidebar{
    display: flex;
    position: fixed;
    top: 10;
    background-color: #fff;
    height: 100%;
    width: 15rem;
    justify-content: center;
    z-index: 12;
}
.sidebar-content {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-content .sub-menu{
    margin-left: 30px;
}
.sidebar-content .sub-menu li a{
    font-weight: unset;
    color: #6B6565;
    
}
.sidebar-content .sub-menu li{
    margin-bottom: 10px;
}
.sidebar-content li{
    list-style: none;
    padding: 6px;
}
.sidebar-content li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 30px;

}
.selected-sidemenu{
    background-color: #E9E9E9;
}

/* will only active if data-visible attribute of sidebar is true ...is set to true using javascript*/
.sidebar[data-visible="true"]{
    transform: translateX(0%);
    
}