.pages_tracker{
    margin: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.pages_tracker span{
    margin: 0 10px;
}
.pages_tracker .dark-span{
    color: #fff !important;
}
.pages_tracker button{
    margin-right: 3px;
    font-size: 1rem;
    padding: 0px 8px;
    border-radius: 3px;
    border: 1px solid black;
}
.pages_tracker button:disabled{
    background-color: #333;
    color: #fff;
}